body {
    background-image: url('https://img.freepik.com/vector-premium/fondo-vector-ciudad-pie-pagina-sitio-web-o-diseno-banner-negocios_554888-1129.jpg?w=1060');
    background-size: cover;
    background-size: cover;
  background-repeat: no-repeat;
  }